<!--
status = "current/completed"
name = "Project name"
short_desc = "one or two line description"
people = ["names", "of", "project", "members"]
url = "insert external website here otherwise leave blank"
image = "name of project logo in /static/images/projects/"
-->
{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}
<div id="wrapper" >
	<div class="post">
		<header>
			<center>
			{{ if eq .Content "" }}
			<h2>{{ .Params.name }}</h2>
			{{ end }}
			</center>
		</header>
		<div id="post-body" style="width: 80%; margin:auto;">
			{{ .Content }}
			{{ if not (eq .Params.nometadisplay "true") }}
				<h5> People </h5>
				{{ partial "project-people-single.html" . }}
				{{ partial "project-publications.html" . }}
				{{ partial "project-sponsors.html" . }}
			{{ end }}
		</div>
	</div>
</div>
{{ partial "footer.html" . }}