body {
  display: block;
  font-family: Helvetica, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background-color: #eee;
}
.container {
  max-width: 1000px;
  background-color: #fff;
  padding: 25px 50px;
  margin: 20px auto;
  border-radius:10px;
}
div.logo-pic {
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
}
@media only screen and (max-width:600px){
  div.logo-pic .pic { display: none; }
  div.logo-pic:after{
        content: attr(data-alt);
        align-content: center
    }
  div.logo-pic:data-alt {}

}

.pic { max-width: 500px; margin-right: auto; margin-left: auto; padding-bottom: 30px; }
h3 {font-size: 18px; color: #36393D}
p { text-align: justify;}
a { color: #4096EE; text-decoration: none; border-bottom: 0px; }
a:hover { border-bottom: 1px dotted #3086DE; }
.span3 ul { list-style-type: none; margin:0px; padding-top: 10px; padding-bottom: 10px; }
#objective { width: 95%; margin-left: auto; margin-right: auto; padding-top: 10px; padding-bottom: 10px; column-count: 1;}
#objective p { font-family: Georgia, Serif; font-style: plain; color: #666; }
li span{ position }
.row-fluid {border-bottom: 1px solid black;}
.span9 {
    padding-top: 15px;
    padding-bottom: 10px;
}
.row-fluid2 {border-bottom: 1px solid gray;}
#navbar {min-width:min-content; max-width: max-content; margin-right: auto; margin-left: auto;}
.nav ul  {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li{
    padding: 10px;
}
.navbar a:hover {border:none;}
.navbar li sup {color: #FF0084}
li sup {font-size: smaller;}
