body {
  display: block;
  font-family: Helvetica, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background-color: #eee;
}
/*div {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}*/
.container {
  max-width: 1000px;
  min-width: 400px;
  min-height: max-content;
  background-color: #fff;
  padding: 25px 50px;
  margin: 20px auto;
  border-radius:10px;
}
div.logo-pic {
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  padding-bottom: 5px;
}
@media only screen and (max-width:850px){
  div.logo-pic .pic { display: none; }
  div.logo-pic:after{
        content: attr(data-alt);
        align-content: center;
    }
}

.pic { max-width: 500px; margin-right: auto; margin-left: auto; padding-bottom: 30px; }
h3 {font-size: 18px; color: #36393D}
p { text-align: justify;}
a { color: #4096EE; text-decoration: none; border-bottom: 0px; }
a:hover { border-bottom: 1px dotted #3086DE; }
.span3 ul { list-style-type: none; margin:0px; padding-top: 10px; padding-bottom: 10px; }
#objective { width: 95%; margin-left: auto; margin-right: auto; padding-top: 10px; padding-bottom: 10px; column-count: 1;}
#objective p { font-family: Georgia, Serif; font-style: plain; color: #666; }
li span{ position }
.row-fluid {border-bottom: 1px solid black;}
.span9 {
    padding-top: 15px;
    padding-bottom: 10px;
}
.row-fluid2 {border-bottom: 1px solid gray;}
#navbar {min-width:min-content; max-width: max-content; margin-right: auto; margin-left: auto;}
.nav ul  {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: auto;
}
.nav li{
    padding: 10px;
    margin: auto;
}
.navbar a:hover {border:none;}
.navbar li sup {color: #FF0084}
li sup {font-size: smaller;}

div.doc-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: max-content;
  font-size: 10pt;
  text-align:center;
}

ul.people {
  list-style-type: none;
  list-style: none;
  padding-left: 0em;
  width: 100%;

  $profile-size: 100px;

  .profile {
    width: 100px;
    height: 100px;
  }
}

ul.people li {
  height: auto;
  display: table;
  margin: 0rem;
  padding-top: 10px;
  padding-bottom: 10px;

  .profile {
    text-align: center;
    display: table-cell;
    margin: .5rem;
    vertical-align: middle;
  }

  .person {
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }

  // draw empty gray circle for those without a profile pic
  .noprofile {
    fill: #f5f5f5;
    r: $profile-size / 2;
    cx: $profile-size / 2;
    cy: $profile-size / 2;
  }
}

/*#profile-pic{
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);

  filter: url('/images/gray.svg#grayscale');
  filter: gray;
}

#profile-pic:hover {
  -webkit-filter: none;
  filter: none;
}*/

.post-time {
    display: inline-block;
    width: 100px;
    margin: 0;
    color: #8a8a8a;
}

.icon {
  float: left;
  color: #bbb;
  font-size: 2em;
  padding: 0rem 1rem;
  width: 4rem;
  text-align: center;
}

.news {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}