{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}
<div class="news">
<h1>{{ .Title }}</h1>
{{ range .Data.Pages.GroupByDate "2006-01-28"}}
	<ul>
	{{ range .Pages }}
		<div class="post-item">
		{{ if isset .Params "icon"}}
		<div class="icon"><i class="fa fa-{{.Params.icon}}"></i></div>
		{{ else }}
		<div class="icon"><i class="fa fa-file-text-o"></i></div>
		{{ end }}
		<a href="{{ .Permalink }}" class="post-link">
		{{ .Params.short_desc }}
		</a>
		<div class="post-time">{{ .Date.Format "Jan 2, 2006" }}</div>
		</div>
	{{ end }}
	</ul>
{{ end }}
</div>

{{ partial "footer.html" . }}