{{/*<!-- Commented out the navbar. -->
    <!-- Fixed navbar -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
<!--     <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ $baseUrl }}/">{{ .Site.Title }}</a>
            </div> -->
            <!-- <div id="navbar" class="navbar-collapse collapse"> -->
<!--             <div id="navbar" class="navbar-inner" >
                <ul class="nav"> -->
                <!-- <ul class="nav navbar-nav"> -->
<!--                     <li {{ if .IsHome }}class="active"{{ end }}><a href="{{ $baseUrl }}/">Home</a></li>
            {{ $url := .URL }}
            {{ with .Site.Menus.main }}
                {{ range $menu := . }}
                    <li {{ if eq $url .URL }}class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }} </a></li>
                {{ end }}
            {{ end }}
                </ul> -->
             <!-- </div> -->
        <!-- </div> -->
    <!-- </nav> -->*/}}