{{ $baseUrl := .Site.BaseURL }}
<div class="archive">
{{ range first .Site.Params.numNewsItems ((where .Site.Pages "Type" "news").GroupByDate "2006-01-28")}}
	<!-- <div> -->
	<!-- {{ range .Pages}} -->
		{{ if (isset .Params "short_desc") | and (not (eq .Params.short_desc "")) }}
		<div class="post-item">
			{{ if isset .Params "icon"}}
		<div class="icon"><i class="fa fa-{{.Params.icon}}"></i></div>
			{{ else }}
		<div class="icon"><i class="fa fa-file-text-o"></i></div>
			{{ end }}
		<a href="{{ .Permalink }}" class="post-link">
		{{ .Params.short_desc }}
		</a>
		<div class="post-time">{{ .Date.Format "Jan 2, 2006" }}</div>
		</div>
		{{ end }}
	<!-- {{ end }} -->
	<!-- </div> -->
{{ end }}
</div>