{{ $baseUrl := .Site.BaseURL }}
<div class="row" style="max-width: 98%; margin: auto; text-align: center;">
<div class="col-md-12">
{{ range readDir "/static/images/sponsors/"}}
	<div class="sponsor">
	<img src="/images/sponsors/{{.Name}}" style="padding: 10px; max-width:200px; max-height: 100px;">
	</div>
{{ end }}
</div>
<div class="doc-footer">
Disclaimer: Any opinions, findings, and conclusions or recommendations expressed in this material are ours alone, and do not necessarily reflect the views of our sponsors.
</div>
</div>
