{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}

<div class="jumbotron" style="text-align: center;">
<h6>
The OSCAR Lab is an inter-disciplinary computer-systems research group. We explore opportunities in the entire computing stack including, but not limited to:<br /> Operating Systems, Virtualization, System Security, Concurrency, Compilers, and Computer Architecture.
</h6>
</div>
<!-- <hr /> -->
<div class="news">
<h3> News </h3>
{{partial "news.html" .}}
<div class="icon"><i class="fa fa-history"></i></div>
<div class="text"><a href="/news/">All news&hellip;</a></div>
</div>
<br>
<!-- <hr /> -->
<h4>Sponsors</h4>
{{ partial "sponsors-logos.html" .}}
{{ partial "footer.html" . }}