{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}
<div class="publications">
{{ range .Data.Pages.GroupByDate "2006"}}
<div style="display: inline-block;">
	<h3>{{ .Key }}</h3>
	{{ range .Pages }}
	<div class="pub">
		<div style="padding-bottom: 10px; vertical-align: middle;">
			<b>{{ .Params.title | markdownify }}</b>
			<br>
			{{ partial "authors.html" . }}
			{{ .Params.rest_of_bib }}
		</div>
	</div>
	<div class="file">
		{{ if (isset .Params "conf_link") | and (not (eq .Params.conf_link "")) }}
		<a href="{{.Params.conf_link}}"><i class="fa fa-home"></i></a>
		{{ end }}
		{{ if (isset .Params "file") | and (not (eq .Params.file "")) }}
		<a href="/papers/{{ .Params.file }}"><i class="fa fa-file-pdf-o"></i></a>
		{{ end }}
		{{ if (isset .Params "auth_link") | and (not (eq .Params.auth_link "")) }}
		<a href="{{ .Params.auth_link }}"><i class="fa fa-globe"></i></a>
		{{ end }}
	</div>
	{{ end }}
</div>
<br>
<br>
{{ end }}
</div>
<br>
{{ partial "footer.html" . }}